body{
    background:#b0b0c2;
}
.navbar-main{
    background: linear-gradient(to right, #0f0c29, #1c1747, #221d53, #181446, #110e38);
}
#display{
    width: auto;
    min-height: 200px;;
    max-height: 250px;
    height: 100%;
}
#img{
    min-height: 200px;;
    max-height: 350px;
    height: 100%;
}
#A{
    color:rgb(255, 0, 0);
}
.imgBack{
    border: 7px solid #6b6b90;
    border-radius:5px;
    width: 400px;
}

.home{
    color: #b7acf5;
}
.text{
    color: #9dff00;
}
.home:hover,.text:hover{
    color: #000000;
}
.displyItoms{
    margin-left: 20px;
    margin-right: 25px;
}
.displyItoms{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 25px;
}
.jumbodon{
    height: 120px;
    background: linear-gradient(to left, #2a2b2c, #4d4e4e);
    color:rgb(236, 207, 41);
}
#searchBtn{
    margin-left: 10px;
}
.container{
    margin-top:28px;
    font-style: oblique;
    font-family: "Helvetica Neue";
    font-display: center;
}
.warning{
    display: flex;
    justify-content: center;
    align-items: center;
}
#product{
    margin-top:40px;
}
#wel{
    font-size:50px;
}
#price{
    font-size:25px;
}
#priceVal{
    font-size:35px;
    font-style: italic ;
}
#rom{
    font-size:20px;
    font-weight:bold;
}
#processor{
    font-size:25px;
    font-weight:bold;
}
#battry{
    font-size:20px;
    font-weight:bold;
}
#cart{
    color:rgb(255, 102, 0);
}
.badge{
   width:6%;
   height:20%;
   font-size:50%;
}
.icon{
    width:150px;
    height:150px;
}
#icon{
    width:100px;

    /* margin: 5px; */
}
.smile{
    background: radial-gradient(circle, rgba(255,220,113,1) 0%, rgba(255,174,0,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
#dash{
 color:rgb(218, 49, 49);
}

