body{
    background:#b0b0c2;
}
nav{
    width: 104%;
    background: linear-gradient(to right, #14344e, #254864, #2e5d83, #254864, #14344e);
}
.display{
    max-width: 80%;
    min-height: 200px;
    max-height: 250px;
    border-radius:8px;
}
#img{
    min-height: 200px;;
    max-height: 350px;
    height: 100%;
    border-radius:27px;
}
#F:hover{
    color:rgb(22, 3, 3);
}
#A{
    color:rgb(255, 0, 0);
}
#N:hover{
    color:rgb(255, 136, 0);
}
#S:hover{
    color:rgb(238, 255, 0);
}
#E:hover{
    color:rgb(9, 255, 0);
}
#s:hover{
    color:rgb(0, 234, 255);
}
#H:hover{
    color:rgb(0, 4, 255);
}
#O:hover{
    color:rgb(61, 0, 175);
}
#P:hover{
    color:rgb(153, 0, 255);
}
.imgBack{
    border: 7px solid #6b6b90;
    background:white;
    border-radius:20px;
    width: 400px;
    box-shadow: 0 0 9px rgb(0, 0, 0);
}
.home{
    color: #ffd900;
}
.shop{
    color: #d9ff00;
    display: flex;
    justify-content:start;
}
@media (max-width: 576px) { 
    .shop{
        color: #d9ff00;
        display: flex;
        justify-content:center;
}   }
.shop:hover{
    color: #ffffff;
}
.text{
    color: #d9ff00;
}
.home:hover,.text:hover{
    color: #ffffff;
}
.displayBrands{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 25px;
}
.displayItoms{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom:2%
}
.jumbodon{
    margin-top: 20px;
    margin:5px ;
    height: 100px;
    border-radius: 90px;
    /* background: linear-gradient(to left, #2a2b2c, #4d4e4e); */
    background-color:  #2a2b2c;
    color:rgb(236, 207, 41);
}
@media (max-width: 576px) { 
    .jumbodon{
        height: 120px;
        background: linear-gradient(to left, #2a2b2c, #4d4e4e);
        color:rgb(236, 207, 41);
}   }
#searchBtn{
    margin-left: 10px;
}
.container{
    margin-top: 10px;
    font-style: oblique;
    font-size:25px;
    font-family: "Helvetica Neue";
    font-display: center;
}
.warning{
    display: flex;
    justify-content: center;
    align-items: center;
}
#product{
    vertical-align: middle;
}
#wel{
    font-size:50px;
}
@media (max-width: 576px) { 
    .welcome{
        margin: 30px;
}   }
#priceVal{
    font-size:31px;
    font-style: italic ;
}
#price{
    font-size:25px;
}
#rom{
    font-size:20px;
    font-weight:bold;
}
.fontSize {
    font-size: 18px;
    font-weight: bold;
}
@media (max-width:1017px) {
    @media ( min-width :770px){
        .fontSize {
            font-size: 10px;
            font-weight: bold;
}   }   }
.fontSize1 {
    font-size:33px;
    font-weight: bold;
}
#processor{
    font-size:20px;
    font-weight:bold;
}
#battry{
    font-size:20px;
    font-weight:bold;
}
#B:hover{
    color:rgb(255, 0, 0);
}
.badge{
   width:4%;
   height:20%;
   font-size:50%;
}
.icon{
    width:150px;
    height:150px;
}
.smile{
    background: radial-gradient(circle, rgba(255,220,113,1) 0%, rgba(255,174,0,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
#dash{
    color:rgb(218, 49, 49);
}
#error{
    margin-top:40px;
    font-size:300;
    display: flex;
    justify-content: center;
}
.error{
    margin: 20px;
    width: 300px;
}
.viewDetails{
    box-shadow: 0 0 6px rgb(0, 0, 0);
}
@media (max-width:570px){
    .error{
        margin: 10px;
        width: 60%;
}   }
#Details{
    margin-left: 10px;
}
.dispImg{
    border:7px solid rgb(113, 108, 121);
    background-color: #cacad6;
    border-radius:30px;
    box-shadow: 0 0 6px rgb(0, 0, 0);
}
.avatar {
    width:  45px;
    height: 45px;
    background:rgb(174, 255, 0);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 25% 75% 25% 75% / 75% 25% 75% 25%;
}
#searchBand{
    margin:20px;
    width: 110px;
    height: 110px;
    border-radius: 20%;
}
#icon{
    width:80px;
}
.w3-overlay{position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(12, 5, 17, 0.317);
    z-index:2
}
.company{
    font-size: 33px;
}
@media (max-width: 576px) { 
    .company{
        font-size: 35px;
}   }
@media (max-width: 1175px) { 
    .company{
        margin-top:3px;
        font-size: 25px;
}   }
@media (max-width: 930px) { 
    .company{
        display: center;
        justify-content: center;
        margin-top:7px;
        font-size: 22px;
}   }
@media (max-width: 770px) { 
    .shop{
        display: center;
        justify-content: center;
}   }
@media (max-width: 768px) { 
    .navbar-main{
        margin-left: 4px;
}   }
.beforeDisplay{
    margin: auto;
}
#close{
    background: linear-gradient(to right, #e52d27, #b31217);
    color: #fff;
    width: 85%;
    margin:auto;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
#bubble{
    width: 85%;
    margin:auto;
    border-radius: 100px;
    background: #342a8a;
    color: #fff;
}
#mySidebar{
    background: linear-gradient(to right, #4ac29a, #bdfff3);
}
#patch{
    border-radius: 20px;
}
#patch:hover{
    background:rgb(209, 190, 190);
}
#priceVal2{
    font-size:30px;
    font-style: italic ;
}
@media (max-width:1017px) {
    @media ( min-width :770px){
        #priceVal2{
            font-size:20px;
            font-style: italic ;
}   }   }
h2{
    color: #fff;
}
td,h5{
    color:#000;
}
.cartDisplay{
    border-radius: 12px;
    vertical-align: middle;
    margin: 15px auto;
    width: auto;
    height:160px;
}
@media (max-width:770px) {
    .cartDisplay{
        margin: 15px auto;
        width: auto;
        height: auto;
}   }
@media (max-width:1015px) {
    .cartDisplay{
        margin: 10px auto;
        width: auto;
        height: auto;
}   }
.img{
    margin: 25px;
    width:150px;
    border: 5px solid #6b6b90;
    background-color: #cacad6;
    border-radius:20px;
    box-shadow: 0 0 6px rgb(0, 0, 0);
}
@media (max-width:770px) {
    .img{
        margin: 25px;
        width: 85%;
        height : 200px;
        border: 4px solid #6b6b90;
        background-color: #cacad6;
        border-radius:20px;
        box-shadow: 0 0 6px rgb(0, 0, 0);
}   }
@media (max-width:1017px) {
    @media ( min-width :770px){
        .img{
            margin: 14px;
            width: 75%;
            height : 170px;
            border: 4px solid #6b6b90;
            background-color: #cacad6;
            border-radius:20px;
            box-shadow: 0 0 6px rgb(0, 0, 0);
}   }   }
.bill{
margin: 15px; 
border: 3px solid #6b6b90;
background-color: #cacad6;
border-radius:20px;
box-shadow: 0 0 6px rgb(0, 0, 0);
}
@media (max-width:770px) {
    .bill{
        margin: 25px;
        width: 90%;
        height : auto;
        border: 3px solid #6b6b90;
        border-radius:20px;
        box-shadow: 0 0 6px rgb(0, 0, 0);
}   }
.mainCart{
    border: 3px solid rgb(182, 182, 182);
    background: teal;
    border-radius:20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
#cartBack{
    position: absolute;
    margin: 20px 0px 0px 30px;
}
.buyNow{
    margin: auto;
}
@media (max-width: 768px) {
    .buyNow{
        width: 80%;
        visibility: hidden;
}   }
.buyNow1{
    margin: auto;
}
@media (min-width: 768px) {
    .buyNow1{
        width: 80%;
        visibility: hidden;
}   }
#priceCart{
    font-size:25px;
}
@media (max-width:1017px) {
    @media ( min-width :770px){
        #priceCart{
            font-size:18px;
}   }   }
#romCart{
    margin-top: 10px;
    font-size:12px;
    font-weight:bold;
}
.fontSize1Cart{
    font-size:33px;
    font-weight: bold;
}
@media (max-width:1017px) {
    @media ( min-width :770px){
        .fontSize1Cart{
            font-size:23px;
            font-weight: bold;
}   }   }
#processorCart{
    font-size:18px;
    font-weight: bold;
}
@media (max-width:1017px) {
    @media ( min-width :770px){
        #processorCart{
            font-size:14px;
            font-weight: bold;
}   }   }
@media (max-width: 768px) {
    #detailsCart{
        display:grid;
        justify-content: center;
        margin-bottom: -10%;
}   }
.minus,.plus{
    height:23px;
    width:24px;
    color:#3f3f3f;
}
.qty{
    height:20px;
    width:30px;
}
.minus{
    border-top-left-radius:50%;
    border-bottom-left-radius:50%;
} 
.plus{
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
}
#remove{
    margin-right: -28px; 
    margin-top: -12px;
    position: absolute;
    background: teal;
    color:rgb(255, 96, 96);
    border: 3px solid rgb(182, 182, 182);
    border-radius:50%;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    width: 35px;
    font-size:28px;
    display:flex;
    justify-content: center;
    vertical-align: middle;
}
.btn[type="button"]{
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
}
@media (max-width: 768px) {
    .placeOrder{
        padding: 30px;
}   }
.avtarBack{
    width: 100px;
}
.rough{
    width:70px;
}
#reset {
    margin-right: 40px; 
    margin-top: -50px;
    position: absolute;
    background: rgb(235, 56, 56);
    border: 3px solid rgb(182, 182, 182);
    box-shadow: 0 0 8px rgb(0, 0, 0);
    border-radius: 5px;
    width: 120px;
    height: 37px;
    font-size:18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
}
@media (max-width: 768px) {
    #reset {
        margin-right: 8px; 
}   }
.myCart{
    margin-bottom: 15px;
}
