body{
    background:#b0b0c2;;
}
.navbar-main{
    background: linear-gradient(to right, #0f0c29, #1c1747, #221d53, #181446, #110e38);
}
img{
    height: 250px;
}
.home{
    color: #b7acf5;
}
.text{
    color: #9dff00;
}
.home:hover,.text:hover{
    color: #000000;
}
.displyItoms{
    margin-left: 25px;
    margin-right: 25px;
}
.jumbotron {
    background: linear-gradient(to bottom, #2a2b2c, #4d4e4e);
    color:rgb(255, 229, 80);
}
#searchBtn{
    margin-left: 10px;
}
.warning{
    display: flex;
    justify-content: center;
    align-items: center;
}
